@model IEnumerable<Passeio>


<div class="py-5 text-bg-dark">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var passeio in Model)
        {
            <div class="col">
                    <div class="card border-dark">
                        <img src="@passeio.Imagem" class="card-img-top" alt="...">
                        <div class="card-body text-bg-dark">
                        <h5 class="card-title text-color-green">@passeio.Titulo</h5>
                        <p class="card-text text-color-green">@passeio.Descricao</p>
                        </div>
                    </div>
                
             <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-outline-success m-sm-1" asp-controller="Passeio" asp-action="Detalhes" asp-route-id="@passeio.Id">Detalhes</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a type="button" class="btn-sm btn-outline-warning m-sm-1" asp-controller="Passeio" asp-action="Editar" asp-route-id="@passeio.Id">Editar</a>
                            <a type="button" class="btn-sm btn-outline-danger m-sm-1" asp-controller="Passeio" asp-action="Deletar" asp-route-id="@passeio.Id">Deletar</a>
                    }
                </div>
                <small class="text-muted">@passeio.Inicio</small>
             </div>
           </div>
        }
    </div>
</div>